.Todoapp{
    width: 1000px;
    margin : auto; 
    margin-top: 200px;
    display: flex;
    justify-content: center;
    opacity: 1;
    margin-left: 500px ;
    color:aliceblue;
    
    
  }
  .contain{
    max-height: 100px;
    scroll-behavior: smooth;
    
  }
  .contain::-webkit-scrollbar {
    width: 1em;
    
  }